.menu_selection {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    align-items: center;
    margin-top:12%;
    margin-bottom:12%;
    color: #545454;
    padding-left: 25%;
    position: relative;
}

.icon {
    margin: 10px;
    width: 30px;
    height: 30px;
    padding-right: 30px;
    padding-left: 2px;
}
.icon-wrapper {
    display: flex;
}

.text {
    font-weight: 400;
}

.position-relative {
    position: relative;
    left: 50px;
  }
  
  .menu-selection-hover {
    width: 79px;
    height: 79px;
    position: absolute;
    top: -14px;
    left: 22.3%;
    border-radius: 50%;
    z-index: 101;
  }

.square-1 {
    width: 50px; /* Set the desired size of the square */
    height: 50px; /* Set the desired size of the square */
    border: 2px solid white; /* Border color for the square */
    transition: transform 0.5s ease; /* Add a transition for smooth rotation */
    position: absolute;
}

.square-2 {
    width: 50px; /* Set the desired size of the square */
    height: 50px; /* Set the desired size of the square */
    border: 2px solid white; /* Border color for the square */
    transform: rotate(45deg);
    transition: transform 0.5s ease; /* Add a transition for smooth rotation */
    position: absolute;
}
.menu-selection-hover:hover {
    cursor: pointer;
}

.text:hover {
    cursor: pointer;
    text-decoration: underline;
}

.menu-selection-hover:hover ~ .square-1 {
    transform: rotate(45deg);
}

.menu-selection-hover:hover ~ .square-2 {
    transform: rotate(135deg);
}

.menu-selection-hover:hover + .text {
    text-decoration: underline;
}

.text:hover ~ .square-1 {
    transform: rotate(45deg);
}

.text:hover ~ .square-2 {
    transform: rotate(135deg);
}



  
