.menu_selection {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    align-items: center;
    color: rgb(41 40 40);
    position: relative;
    cursor: pointer;
    font-size: small;
}

.icon {
    margin: 10px;
    width: 25px;
    height: 25px;
    padding-right: 20px;
    padding-left: 2px;
}
.icon-wrapper {
    display: flex;
}

.text {
    font-weight: 500;
    cursor: pointer;
}

.position-relative {
    position: relative;
    left: 50px;
  }
  
.menu-selection-hover {
    width: 77px;
    height: 77px;
    position: absolute;
    top: -14px;
    left: -11px;
    border-radius: 50%;
    z-index: 101;
}

.square-1 {
    width: 40px; /* Set the desired size of the square */
    height: 40px; /* Set the desired size of the square */
    border: 2px solid white; /* Border color for the square */
    transition: transform 0.3s ease; /* Add a transition for smooth rotation */
    left: 2.5px;
    position: absolute;
}

.square-2 {
    width: 40px; /* Set the desired size of the square */
    height: 40px; /* Set the desired size of the square */
    border: 2px solid white; /* Border color for the square */
    transform: rotate(45deg);
    transition: transform 0.3s ease; /* Add a transition for smooth rotation */
    left: 2.5px;
    position: absolute;
}

.menu-selection-hover:hover ~ .square-1 {
    transform: rotate(45deg);
}

.menu-selection-hover:hover ~ .square-2 {
    transform: rotate(135deg);
}


.text:hover ~ .square-1 {
    transform: rotate(45deg);
}

.text:hover ~ .square-2 {
    transform: rotate(135deg);
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.no-margin-top {
    margin-top: 0px;
}

.rotate-45 {
    transform: rotate(45deg);
}

.rotate-135 {
    transform: rotate(135deg);
}
  
