.App {
  background: linear-gradient(180deg, #ffffff, #777777);
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  position: relative;
  background-image: url(/public/moderncity.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top center;

}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    background: linear-gradient(90deg, #02306c, #092147);
    color: white;
    padding-left: 10px;
    position: relative;
}

.subHeader-text {
  color:#bebebe;
  opacity: .8;
  font-size: 13px;
}

.screen-container {
  height: calc(100vh - 45px);
}

.column-container {
  flex: 11;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 98;
}

.column {
  flex: 1; /* Each column takes up equal space */
  height: 100%;
}

.middle {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-right {
  flex: 2;
  background-color: rgba(235, 235, 235, 0.90);
  box-sizing: border-box;
  padding: 5px;
  padding:20px;
  overflow: hidden;
  height: 100%;
  position: relative;
  z-index: 100;
}

.column-middle {
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-left {
  flex: 1;
  display: flex;
  justify-content: center;
}


.column-right-wrapper {
  flex: 2;
  overflow: hidden;
  height: calc(100% - 40px);
  position: relative;
  z-index: 100;
  margin-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}


.display-header {
  color:#004aad;
  font-weight: 500;
  margin-bottom: 10px;
}
.display-subheader {
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 10px;
}
.display-text {
  font-weight: 400;
}
.ulist {
  margin-top: 10px; 
  list-style: none;
}
.ulist li::before {
  content: "\2022";
  color: #5de0d6;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.resume-list {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 3px;
  padding-left: 20px;
}

.resume-list li {
  margin: 3px;
}

.resume-overview-list{
  padding-left: 50px;
}

.bold-first {
  font-weight: 500;
}

.text-container {
  overflow-y: scroll;
  height: calc(100% - 50px);
  font-weight: 400;
}

.text-container::-webkit-scrollbar {
  width: 5px;
  margin-left: 10px;
}

.text-container::-webkit-scrollbar-thumb {
  background: #5de0d6;

}
.text-container::-webkit-scrollbar-track {
}

.text-container::-webkit-scrollbar-thumb:hover {
  background: #004aad;
}

.opacity-50 {
  opacity: .5;
}

.clean-header {
  margin: 0;
}

.font-weight-300 {
  font-weight: 300;
}

.character {
  position: absolute;
  height: 80%;
  
}

.shadow {
  position: absolute;
  height: 15%;
  top: 81%;
  opacity: 50%;

}

.subheader-icon {
  margin-left: 3px;
}

.model-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 90;
}

.model-selection {
  border-radius: 50%;
  height: 85%;
  left: 18%;
  position: absolute;
  top: 10%;
  width: 22.5%;
  z-index: 101;
}

.model-selection:hover {
  cursor: pointer;
}

.header-hr {
  width: 150px;
  margin: 0;
  margin-top: 5px;
}

.download-button {
  background: #004aad;
  border: none;
  color: white;
  /* margin-left: 20px; */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-left: 120px;
}

.download-button:hover {
  cursor: pointer;
  background: #5de0d6;
}
