.App {
  background: linear-gradient(180deg,#ffffff, #a6a6a6);
  height: 100vh;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.header-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45px;
  background: linear-gradient(90deg, #004aad, #5de0d6);
  text-align: right;
  color: white;
  padding-left: 10px;
}

.screen-container {
  height: calc(100vh - 45px);
}

.column-container {
  flex: 11;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.column {
  flex: 1; /* Each column takes up equal space */
  height: 100%;
}

.middle {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-right {
  flex: 8;
  background-color: rgba(84, 84, 84, 0.17);
  box-sizing: border-box;
  padding: 5px;
  padding-top: 20px;
  padding-left: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: 20px;
  height: calc(100% - 40px);
}

.column-left {
  flex: 4;
  display: flex;
  justify-content: center;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}


.display-header {
  color:#004aad;
  font-weight: 500;
}

.display-text {
  font-weight: 400;
}

.text-container {
  overflow-y: scroll;
  height: calc(100% - 50px);
}

.text-container::-webkit-scrollbar {
  width: 5px;
  margin-left: 10px;
}

.text-container::-webkit-scrollbar-thumb {
  background: #5de0d6;

}
.text-container::-webkit-scrollbar-track {
}

.text-container::-webkit-scrollbar-thumb:hover {
  background: #004aad;
}

.opacity-50 {
  opacity: .5;
}

.clean-header {
  margin: 0;
}

.font-weight-300 {
  font-weight: 300;
}


